html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.section {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#vanta-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.welcome-text {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 45%;
    left: 30%;
    padding: 20px;
    opacity: 0.5;
    background-color: #9f4d6e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.welcome-text {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 45%;
    left: 30%;
    padding: 20px;
    opacity: 0.5;
    background-color: #9f4d6e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.welcome-text:hover {
    transform: scale(1.1);
}

.welcome-text a {
    text-decoration: none;
    color: #11062a;
}

@media only screen and (max-width: 768px) {
    .welcome-text {
        width: 70%;
        left: 15%;
    }
}

.title {
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    letter-spacing: .10em;
    animation: typing 2.5s steps(40, end), blink-caret 0.9s step-end infinite;
    display: inline-block;
    width: 100%;
    animation-fill-mode: forwards;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #11062a;
    }
}

.fa-home {
    position: fixed;
    top: 35px;
    left: 30px;
    color: #9f4d6e;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.contact-info {
    position: fixed;
    top: 30px;
    left: 70px;
    opacity: 0.5;
    background-color: #9f4d6e;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.contact-links {
    display: flex;
    justify-content: space-between;
}

.contact-links .link {
    margin: 0 5px;
}

.contact-links .navicon {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.contact-links .link {
    margin: 0 5px;
    transition: transform 0.2s;
}

.contact-links .link:hover {
    transform: scale(1.4);
}

.nav-info {
    position: fixed;
    top: 30px;
    right: 30px;
    display: flex;
}

.nav-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    opacity: 0.5;
    color: #9f4d6e;
    margin-right: 15px;
}

.nav-link:hover {
    color: #9f4d6e;
    transform: scale(1.1);
    opacity: 1;
}

.download-link {
    border-radius: 15px;
}

.download-link:hover {
    background-color: #11062a;
    color: #9f4d6e;
    text-decoration: none;
}

.download-link i {
    margin-left: 5px;
}

@media only screen and (max-width: 768px) {

    .nav-info {
        flex-direction: column;
        align-items: flex-end;
    }

    .nav-link {
        margin-right: 0;
    }

    .contact-links {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-end;
    }
}

.intro-text {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 35%;
    padding: 20px 70px;
    opacity: 0.5;
    background-color: #9f4d6e;
    border-radius: 25px;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}

.info {
    text-align: left;
    color: #11062a;
}

.info h1 {
    color: #f5d7e3;
    font-family: 'Noto Serif';
}

.info h4 {
    color: #f5d7e3;
    font-family: 'Merriweather', serif;
    padding-bottom: 15px;
}

.info p {
    font-weight: 500;
    font-family: 'Agbalumo';
}

@media only screen and (max-width: 768px) {
    .intro-text {
        width: 70%;
        height: 50%;
        padding: 15px 50px;
        left: 15%;
    }
}

@media only screen and (max-width: 1260px) and (min-width: 768px) {
    .intro-text {
        width: 50%;
        height: 50%;
        padding: 15px 50px;
        left: 25%;
    }
}

.buttons {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

@media only screen and (max-width: 768px) {
    .buttons {
        bottom: 20%;
    }
}

.btn-outline-primary {
    width: 120px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #9f4d6e;
    border-color: #9f4d6e;
    opacity: 0.5;
}


@media only screen and (max-width: 768px) {
    .btn-outline-primary {
        width: 100px;
        height: 30px;
        font-size: 14px;
        line-height: 20px;
    }
}

.btn-outline-primary:hover {
    background-color: #9f4d6e;
    border-color: #9f4d6e;
    color: #11062a;
}

.btn-outline-primary:active {
    background-color: #9f4d6e !important;
    border-color: #9f4d6e !important;
    color: #11062a !important;
}

.project {
    position: relative;
    width: 60%;
    padding: 30px;
    opacity: 0.5;
    background-color: #9f4d6e;
    height: 100%;
    background-color: #9f4d6e;
    border-radius: 30%;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin: 0 30px;
}

@media (max-width: 1250px) and (min-width: 600px) {
    .project {
        width: 90%;
        top: 10%;
    }
}

@media (max-width: 800px) {
    .project {
        width: 100%;
        top: 45%;
    }
}

.project-img {
    height: auto;
    width: 100%;
    border-radius: 15px;
}

.card.project:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card.project:hover .card-title {
    font-weight: 600;
}

.card.project:hover .project-img {
    opacity: 0.7;
}

.row {
    z-index: 1;
}

.top-row {
    margin-top: 10%;
}

.first {
    display: flex;
    justify-content: right;
    align-items: right;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
}

.third {
    display: flex;
    justify-content: left;
    align-items: left;
}

.bottom-row {
    margin-top: 5%;
}

@media (max-width: 768px) {
    .bottom-row {
        margin-top: 10%;
    }

    .bottom-row .third {
        margin-bottom: 10%;
    }
}

a.project-link {
    text-decoration: none;
    color: #11062a;
}

.experiences {
    position: relative;
    top: 10%;
    width: 100%;
    max-width: 45%;
    margin: 0 auto;
    opacity: 0.7;
}


@media only screen and (max-width: 600px) {
    .experiences {
        max-width: 90%;
        top: 15%;
    }
}

@media only screen and (max-width: 1260px) and (min-width: 900px) {
    .experiences {
        max-width: 60%;
        top: 15%;
    }
}

@media only screen and (max-width: 900px) and (min-width: 600px) {
    .experiences {
        max-width: 80%;

        top: 15%;
    }
}

.experiences::before {
    content: "";
    position: absolute;
    left: 65px;
    width: 2px;
    height: 100%;
    background: #9f4d6e;
    z-index: -1;
}

@media only screen and (max-width: 860px) {
    .experiences::before {
        left: 55px;
    }
}

.entry {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 80px 10px;
}

.date {
    width: 120px;
    padding: 10px;
    background-color: #9f4d6e;
    border-radius: 5px;
    color: #11062a;
    text-align: center;
    font-weight: 600;
    margin-right: 30px;
    font-family: 'Sometype Mono', monospace;
}

@media only screen and (max-width: 860px) {
    .date {
        width: 100px;
    }
}

.content {
    flex: 1;
    width: 100%;
    max-width: 500px;
    background-color: #9f4d6e;
    color: #11062a;
    border-radius: 5px;
    padding: 20px;
    margin-left: 30px;
    border-right: 0;
    font-family: 'Sometype Mono', monospace;
}

.content p {
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100px;
    }
}