html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#vanta-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* WELCOME PAGE CSS */

.welcome-div {
    border-radius: 1.25rem !important;
    text-align: center;
}

.info {
    padding: 1%;
    opacity: 0.7;
    border-radius: 2%;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
}

.welcome-div:hover {
    transform: scale(1.1);
}

.title {
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    letter-spacing: .10em;
    animation: typing 2.5s steps(40, end), blink-caret 0.9s step-end infinite;
    display: inline-block;
    width: 100%;
    animation-fill-mode: forwards;
    text-decoration: none;
    color: #1a1625;
    word-wrap: break-word;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #11062a;
    }
}


/* NAVBAR CSS */

.navbar-brand {
    margin: 1% 2%;
}

.navbar-brand:hover {
    transform: scale(1.3);
}

.navbar-toggler {
    border: 1px solid #fff !important;
    margin: 1%;
}

.fa-bars {
    padding: 5px;
}

.navbar-toggler:hover {
    transform: scale(1.2);
}

.btn-close {
    margin: 2% !important;
}

.offcanvas {
    background-color: #a19caf !important;
    width: 50% !important;
}

.offcanvas-body {
    text-align: center;
    z-index: 1;
}

.nav-item {
    margin-bottom: 20%;
    font-size: 1.5rem;
    opacity: 1;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.resume {
    margin-right: 1%;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.resume:hover {
    margin-right: 1%;
    background-color: #fff !important;
    color: #a19caf !important;
}

/* HOME PAGE CSS */

.intro-text {
    padding: 5%;
    opacity: 0.7;
    background-color: #fff !important;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #a19caf;
    margin: 0 10%;
    width: 50%;
}

.info {
    text-align: left;
}

.info h1 {
    color: #1a1625;
    font-family: 'Noto Serif';
}

.home-p {
    font-weight: 500;
    font-family: 'Agbalumo';
    color: #938aac;
}

.home-text {
    color: #1a1625;
    font-family: 'Merriweather', serif;
    padding-bottom: 15px;
}


.contact-btn {
    margin: 5%;
    border: 1px solid #a19caf !important;
    color: #a19caf !important;
    width: 50%;
}

.contact-btn:hover {
    border: 1px solid #a19caf !important;
    color: #fff !important;
    background-color: #a19caf !important;
}


/* PROJECT PAGE CSS */

.proj-img {
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 20%;
    opacity: 1;
}

.proj-img:hover {
    transform: scale(1.2);
}

.proj-title {
    color: #1a1625;
    font-family: 'Chakra Petch', sans-serif;
    padding: 5%;
    margin-top: 7%;
}

.proj-text {
    color: #1a1625;
    font-family: 'Libre Bodoni', serif;
    font-size: 1rem;
    padding-top: 5%;
}

.proj {
    padding: 5% !important;
    background-color: #ede6f1;
}

.project-link {
    margin: 0 auto;
}

.view-btn {
    border: 1px solid #1a1625 !important;
    color: #1a1625 !important;
    opacity: 0.7;
    font-family: 'Libre Bodoni', serif !important;
}

.view-btn:hover {
    border: 1px solid #1a1625 !important;
    color: #fff !important;
    background-color: #1a1625 !important;
}

/* CONTACT PAGE CSS */

.contact-main {
    opacity: 0.7;
    min-height: 100vh;
}

.contact-icon {
    font-size: 3rem !important;
    color: #11062a;
}

.contact-link:hover {
    transform: scale(1.2);
}

.contact-links {
    padding: 10% 0;
}

.contact-title {
    font-family: 'Abril Fatface', serif;
    font-size: 5rem;
    color: #11062a !important;
}

.contact {
    padding: 5% 0 10% 10% !important;
}

.contact-card {
    margin-right: 10%;
}


@media (max-width: 767px) {
    .contact-title {
        font-size: 3rem;
    }

    .contact-links {
        padding: 5% 0;
    }

    .contact-link {
        margin-bottom: 10%;
    }
}

/* EXPERIENCES PAGE CSS */

.timeline {
    position: relative;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}

.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    border-right: 2px dashed #4b546f;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 3%;
}

.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 10%;
    text-align: right;
    margin-right: 2%;
    color: #11062a;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

.timeline-row .timeline-content {
    position: relative;
    padding: 7% 5%;
    border-radius: 2%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 0.7;
    color: #11062a;
    font-family: 'Roboto Mono', monospace;
}

.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -50px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    border: 2px dashed #4b546f;
}

.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timeline-row .timeline-content p {
    margin-bottom: 5%;
}

.timeline-btn {
    margin: 5%;
    border: 1px solid #a19caf !important;
    color: #a19caf !important;
    background-color: #fff;
    border-radius: 10%;
}

.timeline-btn:hover {
    border: 1px solid #a19caf !important;
    color: #fff !important;
    background-color: #a19caf !important;
}


.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}

.timeline-row:nth-child(even) .timeline-content:before {
    left: -50px;
    right: initial;
}

.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}

.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }

    .timeline:after {
        border: 0;
    }

    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }

    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }

    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }

    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }

    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }

    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }

    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}