html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#vanta-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* WELCOME PAGE CSS */

.welcome-div {
    border-radius: 1.25rem !important;
    text-align: center;
}

.info {
    padding: 1%;
    opacity: 0.7;
    border-radius: 2%;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
}

.welcome-div:hover {
    transform: scale(1.1);
}

.title {
    overflow: hidden;
    white-space: nowrap;
    margin: auto;
    letter-spacing: .10em;
    animation: typing 2.5s steps(40, end), blink-caret 0.9s step-end infinite;
    display: inline-block;
    width: 100%;
    animation-fill-mode: forwards;
    text-decoration: none;
    color: #1a1625;
    word-wrap: break-word;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #11062a;
    }
}


/* NAVBAR CSS */

.navbar-brand {
    margin: 1% 2%;
}

.navbar-brand:hover {
    transform: scale(1.3);
}

.navbar-toggler {
    border: 1px solid #fff !important;
    margin: 1%;
}

.fa-bars {
    padding: 5px;
}

.navbar-toggler:hover {
    transform: scale(1.2);
}

.btn-close {
    margin: 2% !important;
}

.offcanvas {
    background-color: #a19caf !important;
    width: 50% !important;
}

.offcanvas-body {
    text-align: center;
    z-index: 1;
}

.nav-item {
    margin-bottom: 20%;
    font-size: 1.5rem;
    opacity: 1;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.resume {
    margin-right: 1%;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.resume:hover {
    margin-right: 1%;
    background-color: #fff !important;
    color: #a19caf !important;
}

/* HOME PAGE CSS */

.intro-text {
    padding: 5%;
    opacity: 0.7;
    background-color: #fff !important;
    border-radius: 25px;
    box-shadow: 0px 0px 10px #a19caf;
    margin: 0 10%;
    width: 50%;
}

.info {
    text-align: left;
}

.info h1 {
    color: #1a1625;
    font-family: 'Noto Serif';
}

.home-p {
    font-weight: 500;
    font-family: 'Agbalumo';
    color: #938aac;
}

.home-text {
    color: #1a1625;
    font-family: 'Merriweather', serif;
    padding-bottom: 15px;
}


.contact-btn {
    margin: 5%;
    border: 1px solid #a19caf !important;
    color: #a19caf !important;
    width: 50%;
}

.contact-btn:hover {
    border: 1px solid #a19caf !important;
    color: #fff !important;
    background-color: #a19caf !important;
}


/* PROJECT PAGE CSS */

.proj-img {
    width: 40%;
    height: auto;
    margin: auto;
    border-radius: 20%;
    opacity: 1;
}

.proj-img:hover {
    transform: scale(1.2);
}

.proj-title {
    color: #1a1625;
    font-family: 'Chakra Petch', sans-serif;
    padding: 5%;
    margin-top: 7%;
}

.proj-text {
    color: #1a1625;
    font-family: 'Libre Bodoni', serif;
    font-size: 1rem;
    padding-top: 5%;
}

.proj {
    padding: 5% !important;
    background-color: #ede6f1;
}

.project-link {
    margin: 0 auto;
}

.view-btn {
    border: 1px solid #1a1625 !important;
    color: #1a1625 !important;
    opacity: 0.7;
    font-family: 'Libre Bodoni', serif !important;
}

.view-btn:hover {
    border: 1px solid #1a1625 !important;
    color: #fff !important;
    background-color: #1a1625 !important;
}

/* EXPERIENCES PAGE CSS */

.container-exp {
    margin: 10% 0;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 30%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 5%;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1%;
    height: 100%;
    background-color: #1a1625;
}

.timeline-item {
    position: relative;
    margin: 2% 0 15% 0;
    font-family: 'Roboto Mono', monospace;
}

.timeline-date {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 3% auto;
    padding: 2%;
}

.timeline-content {
    padding: 5% 10%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 10rem;
}

.timeline-content:hover {
    transform: scale(1.1);
}

.timeline-item:last-child {
    margin-bottom: 2%;
}

.exp-p,
.date {
    margin: 0 !important;
}

.timeline-content a {
    color: inherit;
    text-decoration: none;
}

.timeline-content a:hover {
    color: inherit;
    text-decoration: none;
}

/* CONTACT PAGE CSS */

.contact-main {
    opacity: 0.7;
    min-height: 100vh;
}

.contact-icon {
    font-size: 3rem !important;
    color: #11062a;
}

.contact-link:hover {
    transform: scale(1.2);
}

.contact-links {
    padding: 10% 0;
}

.contact-title {
    font-family: 'Abril Fatface', serif;
    font-size: 5rem;
    color: #11062a !important;
}

.contact {
    padding: 5% 0 10% 10% !important;
}

.contact-card {
    margin-right: 10%;
}


@media (max-width: 767px) {
    .contact-title {
        font-size: 3rem;
    }

    .contact-links {
        padding: 5% 0;
    }

    .contact-link {
        margin-bottom: 10%;
    }
}